.curtain-effect {
  position: relative;
  --curtain-size: 100%;
  --curtain-position: 0;
  --curtain-speed: 1s;
}

.curtain-effect-left {
  z-index: 3;
  position: absolute;
  inset: 0;
  background: url('/assets/images/curtain-l.png') no-repeat center right;
  background-size: cover;
}

.curtain-effect-right {
  z-index: 3;
  position: absolute;
  inset: 0;
  background: url('/assets/images/curtain-r.png') no-repeat center left;
  background-size: cover;
}

.animated-open-right {
  animation: curtain-into-right 2s ease-in-out forwards;
  will-change: transform;
}

.animated-open-left {
  animation: curtain-into-left 2s ease-in-out forwards;
  will-change: transform;
}

.animated-close-right {
  animation: curtain-into-close-right 2s ease-in-out forwards;
  will-change: transform;
}

.animated-close-left {
  animation: curtain-into-close-left 2s ease-in-out forwards;
  will-change: transform;
}

@keyframes curtain-into-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(110%);
    display: none;
  }
}

/* começa normal, termina totalmente fora pela esquerda */
@keyframes curtain-into-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-110%);
    display: none;
  }
}

@keyframes curtain-into-close-left {
  from {
    display: block;
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes curtain-into-close-right {
  from {
    display: block;
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}
