@keyframes forward-movement {
  0%,
  100% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(10px);
  }
}

.forward-movement {
  animation: forward-movement 3s ease-in-out infinite;
}
