.typing-effect {
  overflow: hidden;
  white-space: nowrap;
}

.typing-animated {
  animation: typing 1.3s steps(22) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.delay-2s {
  animation-delay: 2s;
}

.delay-2-5s {
  animation-delay: 2.5s;
}

.delay-3s {
  animation-delay: 3s;
}

.delay-3-5s {
  animation-delay: 3.5s;
}

.delay-4s {
  animation-delay: 4s;
}

.delay-4-5s {
  animation-delay: 4.5s;
}

.delay-5s {
  animation-delay: 5s;
}

.delay-5-5s {
  animation-delay: 5.5s;
}

.delay-6s {
  animation-delay: 6s;
}

.delay-6-5s {
  animation-delay: 6.5s;
}

.delay-7s {
  animation-delay: 7s;
}

.delay-7-5s {
  animation-delay: 7.5s;
}